/dist/
/build/
.cache/
/.idea/
__pycache__/
/other/
/.venv/
/data/*/
/wakewords/
/logs
*.egg-info/

*.pyc
*.params
*.json
*.txt

!requirements.txt

# jenkins branch
/wake-words.txt
/all/
/mycroft-precise/
/models/
